
<div id="{$_name}" class="xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <div style="100%" class="filter-block">
      <div class="pull-right">{$grid_buttons} </div>
      <div class="form-group pull-right xepan-filter-form"><span class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></span></div>
    </div>
  </header>{/Pannel}
  <div class="main-box-body clearfix table-responsive">
    <table style="width:100%" class="table table-hover">{header}
      <thead class="xepan-hover-hand">{cols}{col}
        <th><span>Name </span></th>
        <th><span>Admin </span></th>
        <th><span>Front-End </span></th>
        <th><span>Epan        </span></th>
        <th><span>Created_at</span></th>
        <th><span>Template</span></th>
        <th><span>Publish</span></th>
        <th> <span>UnPublish</span></th>
        <th></th>{/}{/}
      </thead>{/}
      {$subheader}
      <tbody>{rows}{row}
        <tr data-id="{$id}" class="{$odd_even}">{cols}
          <td><span>{$name}</span></td>
          <td><a href="http://{$name}.epan.in/admin" target="_blank">Admin</a></td>
          <td><a href="http://{$name}.epan.in" target="_blank">Front-End</a></td>
          <td><span>{$epan_category}</span></td>
          <td><span>{$created_at}</span></td>
          <td><span>{$xepan_template_id}</span></td>
          <td>{$Publish}</td>
          <td><span>{$UnPublish}</span></td>
          <td style="width: 15%;">
            {$edit}
            {$delete}
          </td>
          <td>{$action}                    </td>{/}
        </tr>{/}{/}
        {not_found}
        <div class="row">
          <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
        </div>{/}
      </tbody>{totals}
      <tfoot>
        <tr class="totals">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>
          {/}{/}
        </tr>
      </tfoot>{/}
    </table>{$Paginator}
  </div>
</div>