
<div id="{$_name}" style="{$style}" class="{$class} row epan-services-item-list">{$heading}
  <h2 class="text-center">Start with 3 step</h2>
  <hr/>{rows}{row}
  <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12">
    <div class="thumbnail text-center">{image_wrapper}
      <div style="height:150px;" data-itemid="{$id}" data-name="{$name}" class="img-wrapper"><img src="{$first_image}" alt="{$alt} we are uploading images ..." style="max-height:150px;" class="center-block img-responsive"/></div>{/}
      <div class="caption">
        <h3>{$name}</h3>
        <div>{btn_wrapper}<a href="{$selection_url}" data-xid="{$id}" data-name="{$name}" class="btn btn-primary btn-block">Select</a>{/}</div>
      </div>
    </div>
  </div>{/}{/}
  {not_found}
  <div role="alert" class="full-width alert alert-warning"><strong class="glyphicon glyphicon-warning-sign">&nbsp;Warning!<span>&nbsp;{$not_found_message}</span></strong></div>{/}
  {paginator_wrapper}
  <div style="float:none; clear:both;text-align:center;" class="ds-kit-paginator">{$Paginator}</div>{/}
</div>