
<div id="{$_name}" style="{$style}" class="{$Class} agency-epan-form">
  <h2 class="form-heading">Customer Detail</h2>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 atk-form-field atk-form-row">
      <label>First Name</label>
      <div>{$first_name}</div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 atk-form-field atk-form-row">
      <label>Last Name</label>
      <div>{$last_name}</div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 atk-form-field atk-form-row">
      <label>Organization</label>
      <div>{$organization}</div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 atk-form-field atk-form-row">
      <label>Customer Type</label>
      <div>{$customer_type}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 atk-form-field atk-form-row">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 atk-form-field atk-form-row">
          <label>Country</label>
          <div>{$country_id}</div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 atk-form-field atk-form-row">
          <label>State</label>
          <div>{$state_id}</div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 atk-form-field atk-form-row">
          <label>City</label>
          <div>{$city}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 atk-form-field atk-form-row">
          <label>Pin Code</label>
          <div>{$pin_code}</div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 atk-form-field atk-form-row">
          <label>Tin No.</label>
          <div>{$tin_no}</div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 atk-form-field atk-form-row">
          <label>Pan No.</label>
          <div>{$pan_no}</div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 atk-form-field atk-form-row">
          <label>GSTIN</label>
          <div>{$gstin}</div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 atk-form-field atk-form-row">
          <label>Email id</label>
          <div>{$email_id}</div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 atk-form-field atk-form-row">
          <label>Contact No</label>
          <div>{$contact_no}		</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 atk-form-field atk-form-row">
      <label>Address</label>
      <div>{$address}</div>
    </div>
  </div>
  <h2 class="form-heading">Customer Account Login Detail</h2>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 atk-form-field atk-form-row">
      <label>Username</label>
      <div>{$username}</div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 atk-form-field atk-form-row">
      <label>Password</label>
      <div>{$password}</div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 atk-form-field atk-form-row">
      <label>Re-Password</label>
      <div>{$re_password}</div>
    </div>
  </div>
  <h2 class="form-heading">Epan Detail</h2>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 atk-form-field atk-form-row">
      <label>Epan Name</label>
      <div>{$epan_name}</div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 atk-form-field atk-form-row">
      <label>Product</label>
      <div>{$item}</div>
    </div>
  </div>
  <hr/>
  <style>
    .agency-epan-form input,
    .agency-epan-form select,
    .agency-epan-form textarea
    {
    	width:100%;
    }
  </style>{$Content}
</div>