<div id="{$_name}">
<h1>Download <small>V0.91 (Released 22 dec 2017)</small></h1>

<p>
	xEpan community edition is available to download. Please follow the follwoing steps to install locally
	<ul>
		<li>Download ZIP file</li>
		<li>Extract folder in your webroot</li>
		<li>Windows Users: Run windows.bat file as Administrator first to create symlinks</li>
		<li>Access your installtion in browser like http://localhost/you_folder_extracted</li>
		<li>Create an empty database first</li>
		<li>For first time installer should be opened, fill the details and click Install Button at bottom.</li>
		<li>Let system installation finish</li>
		<li>You are done !!!</li>
	</ul>
</p>

<h1>Upgrade <small>to V0.91</small></h1>
<p>
	Your admin portion will let you know when we release any new version. To upgrade you just need to download new version and extract
	over existing setup to replace files. Soon, we will provide more sophesticaed ways to use git/patch files to update automatically 
	from within admin panel.
</p>
<hr/>
<p>
	Issues!!!, <br/>
	xEpan is different, if you ever confuse in very start, No issues, we got you covered, Just come to our <a href="http://epan.in/forum" target="_epan-forum">community forum</a> and pur your queries, we will guide you to set up. And soon you will find, our approach is much better and faster than traditional ones. 
</p>

{downloadbtn}
<span class="btn btn-success btn-block" id="download-btn">DOWNLOAD V0.9 NOW</span>
{/downloadbtn}
</div>