.row
  .col-lg-12
    .main-box.clearfix
      .tabs-wrapper.profile-tabs
        ul.nav.nav-tabs
          li.active
            a(data-toggle='tab', href='#tab-epan') My Epan
          li
            a(data-toggle='tab', href='#tab-template') My Template
          li
            a(data-toggle='tab', href='#tab-account') My Account    
        .tab-content
          #tab-epan.tab-pane.clearfix.fade.active.in 
              {$epan}
          #tab-template.tab-pane.clearfix.fade
            | {$Content}
            | {$err_msg}
            | {$my_template}
          #tab-account.tab-pane.fade 
              {$account}
