<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <div class="tabs-wrapper profile-tabs">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#tab-epan">Epan</a></li>
          <li><a data-toggle="tab" href="#tab-template">Template  </a></li>
        </ul>
        <div class="tab-content">
          <div id="tab-epan" class="tab-pane fade in active">{$epan}</div>
          <div id="tab-template" class="tab-pane clearfix fade">
            {$Content}
            {$my_template}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>