.row
	.col-md-12.jumbotron
		.row
			.col-md-12.text-center
				span Are you sure you want to perform this action ?
		.row
			.col-md-12
				.col-md-11.atk-form-row 
					{$name}
				.col-md-1 	
					{$domain}	
		.row
			.col-md-12.atk-form-field	 
				{$FormButtons}

style(type='text/css', media='screen').
	input {
	width: 100%;
	}