
<div class="row">
  <div class="col-md-12 jumbotron">
    <div class="row">
      <div class="col-md-12 text-center"><span>Are you sure you want to perform this action ?</span></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-11 atk-form-row">
           
          {$name}
        </div>
        <div class="col-md-1">
          	
          {$domain}	
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 atk-form-field">
        	 
        {$FormButtons}
      </div>
    </div>
  </div>
</div>
<style type="text/css" media="screen">
  input {
  width: 100%;
  }
</style>